body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(192, 205, 14);
  }
  .stopwatch {
    text-align: center;
    background-color: #c8d90a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #0fc7ca;
    color: #be9407;
    border-radius: 4px;
  }
  
  .controls button:disabled {
    background-color: #4ba816;
    cursor: not-allowed;
  }
  
  .lap-times {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
  }
  
  .lap-times li {
    padding: 5px 10px;
    border-bottom: 1px solid #a0cb05;
  }
  
  .lap-times li:first-child {
    border-top: 1px solid #a7cd0c;
  }
  